body {
    background-color: #ffffff;
    color: #000000;
    margin: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
}
.page-body {
  flex: 0.5;
  width: 80%;
  padding: 2px;
  margin: 20px auto;
  background-color: #ffffffc6;
  border-radius: 20px;
  border-color: #5e5bff;
  border-style: outset;
  border-width: 3px ;
  box-sizing: border-box;
}

  .participant-header h1{ /* text: "Event Name:" */
    font-size: 25px;
    color: #5e5bff;
    text-align:center;

  }
  .participant-header h2{
    font-size: 15px;
    margin: 25px;
  }
  .content{
    font-size: 15px;
    text-align: left;
    margin: 20px;
    text-decoration-style: solid;

  }

 .list h2{
  display: right;


 }
.list{
  display:inline-block;
  text-align: left;
}

.slider{
  display:left ;
}


.style{
  float:left;


}
.schedule{
  display:right;
  margin: 90px;


}








