.topnav {
    overflow: hidden;
    height: 36px;
    background-color: #1976d2;
    font-weight: bold;
    font-size: 17px;

}
.theme-selector {
    float: right;
    display: flex;
    font-size: 17px;
}

.theme-selector p {
    flex: 1;
    color: #f2f2f2;
    text-decoration: none;
    margin-top: 5px;
    padding-right: 5px;
    font-size: 17px;
}

.topnav Link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    text-decoration: none;
}

.topnav Link:hover {
    background-color: #ddd;
    color: black;
    height: 36px;
}

.topnav Link.active {
    background-color: #ddd;
    color: #000;
    height: 36px;
}
