* {
  /* border: 1px solid magenta; */
}

.participant { /* Full page container */
  /* text-align: center; */
  width: 100%;
  /* height: 10vh; */
  /* background-color: darkgray; */
  float: left;
  /* border: 1px inset rgb(0, 255, 34); */

}
  
.participant-logo {
  height: 40vmin;
  pointer-events: none;
}
  
/* @media (prefers-reduced-motion: no-preference) {
.App-logo {
animation: App-logo-spin infinite 20s linear;
}
} */

.participant-header h1{ /* text: "Event Name:" */
  position: absolute top;
  justify-items:left;
  padding-left: 20px;
  font-size: 32px;
  color: #0047FF;
  /* border: 2px solid blue; border for visibility only */


}

.participant-header { /* Entire header */
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */

  /* min-height: 100vh;
  width: 100%; */
  width:100%;
  /* min-height: 10vh; */
  /* background-image: url(images/download.jpg); */
  /* background-color:slategray; */
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  position: relative;
  /* border: 2px solid red; border for visibility only */

}

.participant-link {
  color: #61dafb;
}



.App, .Slider {
  float: left;
  padding: 10px;
  box-sizing: border-box;  
  margin: auto;

}

.App {
  background-color: slategray;
  width: 50%;
  /* border: 2px solid black; */
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
  
.Slider {
  width: 45%;
  /* border: 2px solid magenta; border for visibility only */
  height: 80vh;
  /* background-color: darkgray; */
  /* right: 200px; */
  margin-left: 20px;
}

.ScheduleSelector {
  position:relative;
  bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
